<div *ngIf="loading" class="row">
  <div class="col">
    <div class="alert alert-info text-center">
      <i class="fa fa-sync fa-spin fa-2x"></i>
      <h1>Espere...</h1>
    </div>
  </div>
</div>

<div *ngIf="error" class="row">
  <div class="col">
    <div class="alert alert-danger text-center">
      <i class="fa fa-times fa-2x"></i>
      <h2>Error: {{error.status}}</h2>
      <p>
        {{error.message}}
        <br><br>
        {{error.url}}
      </p>
    </div>
  </div>
</div>

<div class="row" *ngIf="user && user.avatar && !loading && !error">
  <div class="col-5" style="display: flex; justify-content: flex-end;">
    <img [src]="user.avatar" style="width: 50%;">
  </div>
  <div class="col-5">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Id: </strong>{{user.id}}
      </li>
      <li class="list-group-item">
        <strong>Nombre: </strong>{{user.first_name}}
      </li>
      <li class="list-group-item">
        <strong>Apellido: </strong>{{user.last_name}}
      </li>
    </ul>
  </div>
</div>
